extends layout.pug

block style


block content
  form(action="addJob/action" method="post")
    input(name="jobName")
    label(for="jobName") Job Name
    input(name="estimatedFootage")
    label(for="estimatedFootage") Estimated Footage
    input(name="city")
    label(for="city") City
    select(name="client")
      each client of clients
        option(value=`${client.id}`) #{client.client_name}
    input(type="submit" value="submit")


block scripts