.canvasContainer {
  text-align: center;
  vertical-align: middle;
}

#addJobContainer {
  display: inline-flex;
  align-items: center;
  align-content: center;
  float: right;
}

/* #plusIcon { */
  /*something something */
  /* display: block; */
/* } */