#map {
  height: 50vh;
}

.clearTicketText {
  color: darkgreen;
  font-weight: bold;
  text-align: center;
}



.pendingTicketText {
  color: red;
  font-weight: bold;
  text-align: center;
}

.canvasContainer {
  text-align: center;
  vertical-align: middle;
}


.descriptionCell {
  font-size: 1.5ch;
}